/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body{
	width: 100%;
	height: 100%;

}
.init-hide{
	display:none;
}
html.no-js .no-js-hide{
	display:none;
}

section{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

nav{
	width: 100%;
background: #479930; /* Old browsers */
background: -moz-linear-gradient(top,  #479930 0%, #146b38 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#479930), color-stop(100%,#146b38)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #479930 0%,#146b38 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #479930 0%,#146b38 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #479930 0%,#146b38 100%); /* IE10+ */
background: linear-gradient(to bottom,  #479930 0%,#146b38 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#479930', endColorstr='#146b38',GradientType=0 ); /* IE6-9 */

height: 50px;
}
nav ul{
	list-style-type:none;
	margin:0;
	padding:0;
	margin-right: 15px;
	float: right;
}
nav li{
	margin-right: 10px;
	padding-top: 18px;
	padding-bottom: 10px;
	float:right;
	text-align: center;
	background-color: #84C48B;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	transition: 0.5s ease;
background: #feffe8; /* Old browsers */
background: -moz-linear-gradient(top,  #feffe8 0%, #d6dbbf 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffe8), color-stop(100%,#d6dbbf)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #feffe8 0%,#d6dbbf 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #feffe8 0%,#d6dbbf 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #feffe8 0%,#d6dbbf 100%); /* IE10+ */
background: linear-gradient(to bottom,  #feffe8 0%,#d6dbbf 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#d6dbbf',GradientType=0 ); /* IE6-9 */


-moz-box-shadow: 0px 3px 9px #403d40;
-webkit-box-shadow: 0px 3px 9px #403d40;
box-shadow: 0px 3px 9px #403d40;
}
nav li:hover{
	padding-top: 30px;
}
nav li:hover a{
	color: #333;
}
nav a{
	text-decoration: none;
	color: black;
	padding: 10px;
	padding-bottom: 25px;
	font-family: "Trebuchet MS", sans-serif;
}
section#one{
	background-image: url(noise_lines.png);
	background-repeat: repeat;
	position: absolute;
	top:0;
	left: 0;
	z-index: -1;
}
header{
	width: 100%;
}